@import '@/styles/var.scss';
@import '@/styles/bem.scss';

$size: 12px;

@include b(pomodoro-counter-item) {
  height: $size;
  width: $size;
  background-color: $work-text-color;
  border: 1px solid $work-text-color;
  border-radius: $size;

  @include when(doing) {
    border-color: $work-main-color;
    background-color: $work-main-color;
  }

  & + & {
    margin-left: 8px;
  }
}
