@import '@/styles/var.scss';
@import '@/styles/bem.scss';

@include b(latest-todo-list) {
  @include when(work) {
    @include e(btn-more) {
      color: $work-main-color;
    }
  }

  @include when(break) {
    @include e(btn-more) {
      color: $break-main-color;
    }
  }

  @include e(footer) {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    @include e(btn-more) {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
